:root {
  --white: #f7f7ff;
  --orange: #fc5130;
  --carolina: #279af1;
  --blueblack: #001427;
  --smoky: #131112;
}

* {box-sizing: border-box;}

body {
  background-color: var(--smoky);
}

/* Nav Style Start */
.ui.inverted.menu .active.item {
  background-color: var(--orange) !important;
}
/* Nav Style End */

/* Resume Style Start */
.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

/* Resume Style End */

/* Portfolio Start*/
/* .ui.card>.content p, .ui.cards>.card>.content p {
  margin-top: 5px;
  color: var(--white);
  font-weight: 2.5em;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header {
  color: var(--carolina);
  font-size: 1.5em !important;
}

.ui.card .meta p {
  color: var(--orange) !important;
}

.ui.card, .ui.cards>.card {
  background-color: var(--blueblack);
  box-shadow: 0 1px 3px 0 var(--carolina), 0 0 0 1px var(--carolina);
} */
.carousel-caption {
  text-align: left;
}
/* Portfolio End */

/* Contact Form Style Start*/
.ui.form .field>label {
  color: var(--carolina);
  font-size: 2em;
  margin-bottom:10px !important;
}

.error-text {
  color: var(--orange);
  font-size: 2em;
}

#contact-header{
  color: var(--white);
  font-size: 6em;
  text-align: center;
}
/* Contact Form Style End */

/* About Me Start */
.ui.message:last-child {
  background-color: var(--blueblack);
}

.ui.message p {
  color: var(--white) !important;
  opacity: 0.9;
  font-weight: 500;
  font-size: 1.070rem;
}
/* About Me End */