:root {
  --white: #f7f7ff;
  --orange: #fc5130;
  --carolina: #279af1;
  --blueblack: #001427;
  --smoky: #131112;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--smoky);
}

/* Nav Style Start */
.segment-style-options {
  background-color: var(--blueblack) !important;
  color: var(--white);
  text-align: center;
  margin: 0px 0px 30px 0px !important;
  position: sticky !important;
  border-bottom: 2px solid var(--orange) !important;
}

.navActive {
  background-color: var(--orange) !important;
}

.segment-menu-style {
  display: flex !important;
  justify-content: center !important;
  font-size: 1.25rem !important;
}
/* Nav Style End */

/* Resume Style Start */
.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

/* Resume Style End */

/* Contact Form Style Start*/
.ui.form .field>label {
  color: var(--carolina);
  font-size: 2em;
  margin-bottom:10px !important;
}

.error-text {
  color: var(--orange);
  font-size: 2em;
}

#contact-header{
  color: var(--white);
  font-size: 6em;
  text-align: center;
}
/* Contact Form Style End */

/* About Me Start */
.about-me-span {
  color: '#fc5130' !important; 
  font-weight: '700' !important;
}

.ui.message:last-child {
  background-color: var(--blueblack);
  border: 2px solid var(--carolina);
}

.about-me-message {
  color: var(--white) !important;
  opacity: 0.9;
  font-weight: 500;
  font-size: 1.070rem;
}

img.ui.rounded.image.about-me-image {
  height: 100%;
  width: 100%;
}
/* About Me End */

/* Resume Style Start */
.resume-header {
  text-align: center !important;
  color: var(--white) !important;
  font-size: 4em !important;
  font-weight: 700;
}
/* Resume Style End */

/* Footer Style Start */
  #footer {
    margin-top: 30px;
  }

  #footer-container {
    background-color: var(--blueblack);
    display: flex;
    justify-content: center;
    position: static;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100% !important;
    border-top: 2px solid var(--orange);
  }

  .fa-github:before, .fa-stack-overflow:before, .fa-linkedin:before {
    color: var(--white);
  }

  #github, #stack-overflow, #linked-in {
    margin-top: 15px;
  }
/* Footer Style End */


/* Project Card Style Start*/
.project-card-image {
  height: auto;
  max-height: 175px;
  width: auto;
  max-width: 100%;
}

.project-card {
  background-color: var(--blueblack) !important;
  border: 3px solid var(--carolina) !important;
  border-radius: 8px !important;
  box-shadow: none !important;
}

.project-card:hover, .project-card-header:hover, .project-card-meta:hover, .project-card-content:hover {
  transition: none !important;
}

.project-card-content {
  border: 3px solid var(--carolina);
}

.project-card-header, .project-card-meta {
  color: var(--white) !important;
}

.project-card-header {
  font-size: 1.40rem !important;
  font-weight: 700;
}

.project-card-meta {
  font-size: 1.10rem !important;
  color: var(--orange) !important;
  font-weight: 700;
}

.so-shul-image {
  height: 175px !important;
}

.so-shul-content {
  padding: .80em !important;
}

.so-shul-header {
  margin-bottom: 4.5px !important;
}

.project-button-style {
  font-size: 1.25em;
  font-weight: 700;
  background-color: var(--carolina);
}

.project-button-style:hover {
  background-color: var(--smoky);
  border: 3px solid var(--carolina);
}
/* Project Card Style End */

/* Modal Style Start */
.project-modal-header, .project-modal-body, .project-modal-footer {
  background-color: var(--blueblack);  
  color: var(--white);
  border: 3px solid var(--carolina);
  font-weight: 700;
  font-size: 1.25rem;
}

.project-modal-body a {
  color: var(--orange);
}

.project-modal-body a:hover {
  color: var(--white);
}

.project-modal-footer {
  margin: 0;
  padding: 0;
}

.project-modal-button {
  width: 100%;
  height: 100% !important;
  margin: 0px;
  padding: 10px;
  font-size: 1.20em;
  font-weight: 700;
  background-color: var(--carolina);
}

.project-modal-button:hover {
  background-color: var(--smoky);
}

.card-adjustment-header {
  margin-bottom: 15px;
}

.card-adjustment-meta {
  margin-bottom: 22px !important;
}
/* Modal Style End */
/*


Media Queries
*/

#form-button-control-public {
  font-size: 1.40em;
  font-weight: 700;
  background-color: var(--carolina);
  border: 2px solid var(--carolina);
  color: var(--white);
  padding: 15px;
  width: 25%;
  border-radius: 8px;
}

#form-button-control-public:hover {
  background-color: var(--blueblack);
}

@media screen and (max-width: 980px) {
  .ui.column.grid>[class*="seven wide"].column, .ui.grid>.column.row>[class*="seven wide"].column, .ui.grid>.row>[class*="seven wide"].column, .ui.grid>[class*="seven wide"].column {
    width: 100%!important;
  }

  .ui.column.grid>[class*="nine wide"].column, .ui.grid>.column.row>[class*="nine wide"].column, .ui.grid>.row>[class*="nine wide"].column, .ui.grid>[class*="nine wide"].column {
    width: 100% !important;
  }

  .ui.message p {
    font-size: 16px;
  }

  .ui.secondary.inverted.pointing.menu {
    font-size: 14px;
  }

  .fa-3x {
   font-size: 2em; 
  }
}
@media screen and (max-width: 768px) {
  .segment-menu-style {
    font-size: 11px !important;
  }
}
@media screen and (max-width: 575px) {
  .ui.secondary.inverted.pointing.menu {
    font-size: 10px;
  }
}